* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
    /* overflow-x: hidden; */
}

.wrapper {
    position: relative;
    width: 100%;
    /* height: 100%; */
    display:flex;
    max-width: 100%;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    padding: 0 200px;
    background: #f1f3ff;
}

/* Sidebar Style */

.wrapper .sidebar{
    display: flex;
    width: 250px;
    /* height: 100%; */
    /* flex: 1; */
    padding: 30px;
    background: #fff;
}

.wrapper .sidebar-text {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.wrapper .sidebar-text .profile-img{
    display: block;
    margin: auto;
    width: 80%;
    background-color: #2a4b7c;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.wrapper .sidebar-text h1 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.wrapper .sidebar-text p {
    margin-bottom: 1.5rem;
}

.wrapper .sidebar-text .sidebar-content {
    height: 100%;
}

.wrapper .sidebar-text .btn-sidebar {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.wrapper .sidebar-text a.hire {
    display: block;
    text-decoration: none;
    user-select: none;
    background-color: #2a4b7c;
    border: 1px solid #2a4b7c;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
    margin-top: auto;
    width: 100%;
    align-self: flex-end;
    transition: 
        outline 0.4s ease-in-out,
        box-shadow 0.4s ease-in-out,
        background-color 0.4s ease-in-out
    ;
}

.wrapper .sidebar-text a.hire:hover{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(42, 75, 124, 0.25);   
    background-color:#223e68;
}

.wrapper .sidebar-text .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: 10px;
}

.wrapper .sidebar-text .links a {
    text-decoration: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #2a4b7c;
    color: #2a4b7c;
    padding: 0.4rem 0.6rem;
    font-size: 17px;
    transition: 
        background-color 0.4s ease-in-out,
        color 0.4s 0.2s ease-in-out
    ;
}

.wrapper .sidebar-text .links a:hover {
    background-color: #2a4b7c;
    color: #fff;
}

/* Content Wrapper Style */

.wrapper .content {
    /* flex: 2; */
    position: relative;
    width: 760px;
    float: left;
    background: #f1f3ff;
    padding: 30px 30px 30px 30px;
    /* border: 1px solid #111; */
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.wrapper .content::-webkit-scrollbar{
    width: 10px;
    height: 20px;
}

.wrapper .content::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.wrapper .content::-webkit-scrollbar-track{
    background: transparent;
}

.wrapper .content {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* .wrapper .content::before,
.wrapper .content::after {
    position: fixed;
    content: "";
    width: 100%;
    height: 30px;
    background: #f1f3ff;
    z-index: 9;
} */

.wrapper .content::before {
    top: 0;
}

.wrapper .content .container {
    width: 100%;
    /* border: 1px solid #111; */
}

/* Navigation Bar Style */

.wrapper .content .container .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #202c45;
}

.wrapper .content .container .navbar-brand{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
}

.navbar-brand:hover, .navbar-brand:focus{
    text-decoration: none;
    color: #fff;
}

.wrapper .content .container .navbar .navbar-collapse{
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.wrapper .navbar .navbar-nav{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin: auto;
    list-style: none;
    text-align: center;
}

.wrapper .navbar .navbar-nav .nav-item {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #b4b8bb;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

.wrapper .navbar .navbar-nav .nav-item:hover {
    color: #fff;
}

/* Carousel Style */

 .carousel-wrapper{
    position: relative;
    display: block;
    width: 100%;
    max-height: 700px;
    min-height: 500px;
    height: 100%;
    /* border: 2px solid #111; */
}

.carousel-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 25px 50px; */
    opacity: 0;
    transition: all 1.5s ease-in-out;
}



.carousel-wrapper .item-content{ 
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.604);
}

.carousel-wrapper .item-content h2{
    margin-bottom: 10px;
    font-size: 27px;
    font-weight: 600;
}

.carousel-wrapper .item-content .item-social{
    margin-bottom: 30px;
}

.carousel-wrapper .item-content a {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.8rem 1.3rem;
    text-decoration: none;
    font-size: 20px;
    transition: 
        background-color 0.6s ease-in-out;
    ;
}

.carousel-wrapper .item-content a:hover {
    color: #111;
    background-color: #fff;
}

.carousel-wrapper .item-content .item-social small i{
    margin: 0 10px;
}

.arrow {
    border: solid rgb(226, 224, 224);
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 5px;
}

.arrow-prev{
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next{
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"]{
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-image: url("https://github.com/BananaKyle10/personal-website-bation/blob/main/img/carousel-1.jpg?raw=true");
    background-size: cover;
}

.item-2 {
    background-image: url("https://github.com/BananaKyle10/personal-website-bation/blob/main/img/carousel-2.jpg?raw=true");
    background-size: cover;
}

.item-3 {
    background-image:url("https://github.com/BananaKyle10/personal-website-bation/blob/main/img/carousel-3.jpg?raw=true");
    background-size: cover;
}

*:target ~ .item-1{
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, 
#item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
} 


/* Blog List Style */

.container.blog{
    background: white;
    padding-top: 3rem;
}


.blog .blog-item{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem 1.3rem 1rem;
}

.blog .blog-item .blog-img{
    position: relative;
    width: 100%;
    padding: 0 15px;
    max-width: 250px;
}

.blog-img img{
    width: 100%;
}

.blog .blog-content{
    line-height: 1.5;
    text-align: left;
    z-index: 5;
    padding: 1.3rem 0;
}

.blog .blog-content h3{
    font-size: 28px;
    margin-left: -80px;
    background: #fff;
    padding: 0.3rem 1rem;
    margin-bottom: 5px;
}

.blog .blog-content .blog-social {
    margin-bottom: 13px;
}

.blog .blog-content .blog-social small {
    margin-right: 0.7rem;
    color: rgb(95, 95, 95);
}

.blog .blog-content .blog-social small i{
    margin-right: 0.3rem;
}

.blog .blog-content p {
    margin-bottom: 17.5px;
    color: rgb(95, 95, 95);
}

.blog .blog-content a {
    text-decoration: none;
    color: #202c45;
}

/* Subscribe Newsletter Style */

.container.news-letter{
    background: #202c45;
    box-sizing: border-box;
    padding: 3.5rem 2rem 3rem 2rem;
    text-align: center;
    color: #fff;
}

.container.news-letter h1{
    font-size: 36px;
    margin-bottom: 15px;
}

.news-letter .input-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.news-letter .input-group input{
    outline: none;
    border: none;
    background: white;
    padding: 0.6rem 0.8rem;
    font-size: 16px;
    color: #202c45;
}

.news-letter .input-group button{
    color: #fff;
    background-color: #2A4B7C;
    border-color: #2A4B7C;
    border: 1px solid #2A4B7C;
    padding: 0.6rem 0.8rem;
    font-size: 16px;
    cursor: pointer;
}

.news-letter .input-group button:hover{
    background: #2e5081;
}

/* Footer Style */

.container.footer {
    display: block;
    box-sizing: border-box;
    padding: 2rem 2.5rem;
    background: #202c45;
    text-align: center;
    color: #fff;
}

.footer a{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

/* Page Header Style */

.container.page-header{
    background: #2a4b7c;
    color: #fff;
    padding: 6rem 2rem;
    box-sizing: border-box;
  
}

.page-header .page-header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   

.page-header .page-header-content .pages {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    gap: 0.5rem;
}

.page-header .page-header-content .pages h4 {
    font-weight: 300;
}


.page-header .page-header-content h1{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}


/* About Me Content Style */
.container.about-me{
    background: #fff;
    padding: 4rem 2rem 2rem 2rem;
    box-sizing: border-box;
}

.about-me .about-me-content{
    display: flex;
    flex-direction: column;
}

.about-me .about-me-title h2{
    font-size: 26px;
    margin-bottom: 2rem;
    text-align: center;
}

.about-me .about-me-title img{
    float: left;
    width: 330px;
    padding: 0 25px 24px 0;
}

.about-me .about-me-title p{
    line-height: 1.5rem;
    color: rgb(108, 107, 107);
}

.about-me .skill-bar{
    padding-top: 2rem;
    text-align: center;
    font-size: 13px;
}

.about-me .skill-bar .skills{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.about-me .skill-bar .skills .progress{
    width: 100%;
    background: rgb(228, 228, 228);
    outline: none;
    border: none;
    color: #fff;
}

.about-me .skill-bar .skills .progress .progress-bar{
    background: #31487a;
    height: 100%;
    padding: 0.1rem 0rem;
}

.about-me .skill-bar .skills .progress .progress-bar-1 {
    width: 90%;;
}

.about-me .skill-bar .skills .progress .progress-bar-2 {
    width: 85%
}

.about-me .skill-bar .skills .progress .progress-bar-3 {
    width: 75%;
}

/* Contact Style */

.container.contact{
    padding: 3rem 2rem;
    box-sizing: border-box;
    /* border: 1px solid #111; */
    background: #fff;
}

.contact .contact-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 5rem;
}

.contact .contact-details .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-start;
}

.contact .contact-details .info i{
    font-size: 32px;
    color: #2A4B7C;
    margin-bottom: 20px;
}

.contact .contact-details .info h4 {
    color: #202c45;
    font-size: 24px;
    margin-bottom: 12px;
}

.contact .contact-details .info p {
    color: rgb(106, 104, 104);
    font-size: 16px;
}

.contact .contact-me {
    width: 100%;
    max-width: 100%;
} 

.contact .contact-me .contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.contact .contact-me form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.8rem;
    width: 100%;
}

.contact .contact-me .contact-form .control-group input,
.contact .contact-me .contact-form .control-group textarea {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #b4b8bb;
    outline: 0;
    display: block;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

.contact .contact-me .contact-form .control-group input:focus,
.contact .contact-me .contact-form .control-group textarea:focus{   
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(53, 114, 204, 0.25);
}

.contact .contact-me .contact-form button {
    padding: 8px 10px;
    outline: 0;
    border: 1px solid #2a4b7c;
    font-size:15px;
    color: #fff;
    background: #2a4b7c;
    cursor: pointer;
}

.contact .contact-me .contact-form button:hover {
    border: 1px solid #273553;
    background: #273553;
}